brainflow==5.18.1
certifi==2025.8.3
charset-normalizer==3.4.3
contourpy==1.3.3
cycler==0.12.1
decorator==5.2.1
fonttools==4.59.2
idna==3.10
Jinja2==3.1.6
joblib==1.5.2
kiwisolver==1.4.9
lazy_loader==0.4
MarkupSafe==3.0.2
matplotlib==3.10.6
mne==1.10.1
numpy==2.3.3
packaging==25.0
pillow==11.3.0
platformdirs==4.4.0
pooch==1.8.2
pylsl==1.17.6
pyparsing==3.2.3
python-dateutil==2.9.0.post0
requests==2.32.5
scikit-learn==1.7.2
scipy==1.16.1
six==1.17.0
threadpoolctl==3.6.0
tqdm==4.67.1
urllib3==2.5.0
