# OSX
.DS_Store

# Node
node_modules
npm-debug.log
yarn-error.log

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
ios/.xcode.env.local
example/ios/.xcode.env.local
example/ios/Pods/
example/ios/build/

# Android/IntelliJ
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/
*.keystore
!debug.keystore
example/android/app/build/
example/android/.gradle/
example/android/build/

# VS Code
.vscode/

# Temporary files
*.swp
*.swo
*.swn
*.swm
*.bak

# Example app builds
example/node_modules/
example/ios/build/
example/ios/Pods/
example/android/app/build/
example/android/build/
example/.expo/
example/dist/

# Watchman
.watchmanconfig 