@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

::selection {
  background-color: #ffffff;
  /* Color de fondo de la selección */
  color: #000000;
  /* Color del texto seleccionado */
}
body {
  background: #0f0f0f;
  color: rgba(var(--foreground-rgb), 1);
}
