.env
env.g.dart
__pycache__/
libraries/
myenv/
venv/
.DS_Store
dump/
*.zip
*.wav
node_modules
yarn.lock

# General
.vscode/
.idea/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android specific
**/android/**/build/
**/android/.gradle
**/android/gradlew
**/android/gradlew.bat
**/android/**/gradle-wrapper.jar
**/android/**/local.properties
**/android/**/GeneratedPluginRegistrant.java
**/android/app/google-services.json

# iOS specific
**/ios/**/Pods/
**/ios/**/.symlinks/
**/ios/**/Flutter/Flutter.framework
**/ios/**/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/.generated/
**/ios/Runner.xcworkspace
**/ios/**/GeneratedPluginRegistrant.*
**/ios/**/xcuserdata
**/ios/Runner/GoogleService-Info.plist

# macOS specific
**/macos/**/Pods/
**/macos/**/.symlinks/
**/macos/**/Flutter/Flutter.framework
**/macos/**/Flutter/Flutter.podspec
**/macos/Flutter/Generated.xcconfig
**/macos/Flutter/flutter_export_environment.sh
**/macos/Flutter/ephemeral/Flutter-Generated.xcconfig
**/macos/Flutter/ephemeral/flutter_export_environment.sh
**/macos/.generated/
**/macos/Runner.xcworkspace
**/macos/**/GeneratedPluginRegistrant.*

# Linux specific
**/linux/.dart_tool/
**/linux/flutter/
**/linux/**/GeneratedPluginRegistrant.*

# Windows specific
**/windows/.dart_tool/
**/windows/flutter/
**/windows/**/GeneratedPluginRegistrant.*

# Web specific
**/web/**/build/
**/web/.dart_tool/

# Version control
.git/
.gitignore

# Miscellaneous
*.lock
*.log
*.swo
*.swp
*.tmp
hs_err_pid*

# Servers
backend/app-server/dist
src/recordings

# Apps
apps/AppStandalone/lib/firebase_options.dart
apps/AppStandalone/firebase.json

apps/AppStandalone/android/app/google-services.json
apps/AppStandalone/ios/Runner/GoogleService-Info.plist
apps/AppStandalone/lib/env/env.g.dart
env.g.dart
apps/AppStandalone/ios/Flutter/flutter_export_environment.sh
apps/AppStandalone/ios/Runner/GeneratedPluginRegistrant.h
apps/AppStandalone/ios/Runner/GeneratedPluginRegistrant.m
apps/AppStandalone/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java

*/*xcschememanagement.plist
*/android/app/google-services.json
*/ios/Runner/GoogleService-Info.plist


# Solidworks models
*.SLDPRT
*.SLDASM
**/classic_triangle/old outdated history (but gold)/
**/classic_triangle/assembly/
**/classic_triangle/misc/
**/step-versions/

# vscode configuration
.vscode/

# test output
test/recordings

#Flutter
env.g.dart
*/upload-keystore.jks
*/key.properties

# Jekyll
docs/_site/
.jekyll-metadata