aenum==3.1.15
aiofiles==24.1.0
aiohttp==3.9.5
aiosignal==1.3.1
aiostream==0.5.2
alembic==1.13.2
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.4.0
asteroid-filterbanks==0.4.0
attrs==23.2.0
audioread==3.0.1
blinker==1.8.2
Brotli==1.1.0
CacheControl==0.14.0
cachetools==5.3.3
certifi==2024.6.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
cog==0.9.12
colorlog==6.8.2
ConfigArgParse==1.7
contourpy==1.2.1
cryptography==42.0.8
cycler==0.12.1
dataclasses-json==0.6.7
decorator==5.1.1
deepgram-sdk==3.3.2
distro==1.9.0
dnspython==2.6.1
docopt==0.6.2
einops==0.8.0
email_validator==2.2.0
fal_client==0.4.1
fastapi==0.98.0
fastapi-cli==0.0.4
filelock==3.15.4
firebase-admin==6.5.0
Flask==3.0.3
Flask-Cors==4.0.1
Flask-Login==0.6.3
fonttools==4.53.0
frozenlist==1.4.1
fsspec==2024.6.1
gevent==24.2.1
geventhttpclient==2.3.1
google-api-core==2.19.1
google-api-python-client==2.137.0
google-auth==2.31.0
google-auth-httplib2==0.2.0
google-cloud-core==2.4.1
google-cloud-firestore==2.16.1
google-cloud-storage==2.17.0
google-crc32c==1.5.0
google-resumable-media==2.7.1
googleapis-common-protos==1.63.2
greenlet==3.0.3
groq==0.9.0
grpcio==1.64.1
grpcio-status==1.62.2
grpclib==0.4.7
h11==0.14.0
h2==4.1.0
hpack==4.0.0
httpcore==1.0.5
httplib2==0.22.0
httptools==0.6.1
httpx==0.27.0
httpx-sse==0.4.0
huggingface-hub==0.23.4
hyperframe==6.0.1
HyperPyYAML==1.2.2
idna==3.7
itsdangerous==2.2.0
Jinja2==3.1.4
joblib==1.4.2
jsonpatch==1.33
jsonpointer==3.0.0
julius==0.2.7
kiwisolver==1.4.5
langchain==0.2.10
langchain-community==0.2.9
langchain-core==0.2.22
langchain-openai==0.1.17
langchain-pinecone==0.1.2
langchain-text-splitters==0.2.2
langsmith==0.1.93
lazy_loader==0.4
librosa==0.10.2.post1
lightning==2.3.1
lightning-utilities==0.11.3.post0
llvmlite==0.43.0
locust==2.29.1
Mako==1.3.5
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.21.3
matplotlib==3.9.0
mdurl==0.1.2
modal==0.63.24
mpmath==1.3.0
msgpack==1.0.8
multidict==6.0.5
mypy-extensions==1.0.0
networkx==3.3
noisereduce==3.0.2
numba==0.60.0
numpy==1.26.4
omegaconf==2.3.0
openai==1.35.10
optuna==3.6.1
orjson==3.10.5
packaging==24.1
pandas==2.2.2
pillow==10.4.0
pinecone==4.0.0
pinecone-client==4.1.2
pinecone-plugin-interface==0.0.7
platformdirs==4.2.2
pooch==1.8.2
primePy==1.3
proto-plus==1.24.0
protobuf==4.25.3
psutil==6.0.0
pyannote.audio==3.3.1
pyannote.core==5.0.0
pyannote.database==5.1.0
pyannote.metrics==3.2.1
pyannote.pipeline==3.0.1
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser==2.22
pydantic==1.10.17
pydantic_core==2.20.0
pydub==0.25.1
Pygments==2.18.0
PyJWT==2.8.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-multipart==0.0.9
pytorch-lightning==2.3.1
pytorch-metric-learning==2.5.0
pytz==2024.1
PyYAML==6.0.1
pyzmq==26.0.3
redis==5.0.7
regex==2024.5.15
requests==2.32.3
rich==13.7.1
rsa==4.9
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
scikit-learn==1.5.0
scipy==1.14.0
semver==3.0.2
sentencepiece==0.2.0
sentry-sdk==2.7.1
shellingham==1.5.4
sigtools==4.0.1
six==1.16.0
sniffio==1.3.1
soniox==1.10.1
sortedcontainers==2.4.0
SoundCard==0.4.3
soundfile==0.12.1
soxr==0.3.7
speechbrain==1.0.0
SQLAlchemy==2.0.31
starlette==0.27.0
structlog==24.2.0
sympy==1.12.1
synchronicity==0.6.7
tabulate==0.9.0
tenacity==8.5.0
tensorboardX==2.6.2.2
threadpoolctl==3.5.0
tiktoken==0.7.0
toml==0.10.2
torch==2.3.1
torch-audiomentations==0.11.1
torch-pitch-shift==1.2.4
torchaudio==2.3.1
torchmetrics==1.4.0.post0
torchvision==0.18.1
tqdm==4.66.4
typer==0.12.3
types-certifi==2021.10.8.3
types-toml==0.10.8.20240310
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.1
ujson==5.10.0
uritemplate==4.1.1
urllib3==2.2.2
uvicorn==0.30.1
uvloop==0.19.0
watchfiles==0.22.0
websockets==12.0
Werkzeug==3.0.3
yarl==1.9.4
zope.event==5.0
zope.interface==6.4.post2
