# Omi board configuration

# Copyright (c) 2024 Based Hardware
# SPDX-License-Identifier: MIT

config IPM_NRFX
	default IPM

config MBOX_NRFX_IPC
	default MBOX

if BOARD_OMI_NRF5340_CPUAPP || BOARD_OMI_NRF5340_CPUAPP_NS

config BOARD_ENABLE_DCDC_APP
	bool "Enable Application MCU DCDC converter"
	select SOC_DCDC_NRF53X_APP
	default y

config BOARD_ENABLE_DCDC_NET
	bool "Enable Network MCU DCDC converter"
	select SOC_DCDC_NRF53X_NET
	default y

endif # BOARD_OMI_NRF5340_CPUAPP || BOARD_OMI_NRF5340_CPUAPP_NS
