PM_MCUBOOT_OFFSET=0x0
PM_MCUBOOT_ADDRESS=0x0
PM_MCUBOOT_END_ADDRESS=0xc000
PM_MCUBOOT_SIZE=0xc000
PM_MCUBOOT_NAME=mcuboot
PM_MCUBOOT_ID=0
PM_mcuboot_ID=PM_MCUBOOT_ID
PM_mcuboot_IS_ENABLED=1
PM_0_LABEL=MCUBOOT
PM_MCUBOOT_PAD_OFFSET=0xc000
PM_MCUBOOT_PAD_ADDRESS=0xc000
PM_MCUBOOT_PAD_END_ADDRESS=0xc200
PM_MCUBOOT_PAD_SIZE=0x200
PM_MCUBOOT_PAD_NAME=mcuboot_pad
PM_MCUBOOT_PAD_ID=1
PM_mcuboot_pad_ID=PM_MCUBOOT_PAD_ID
PM_mcuboot_pad_IS_ENABLED=1
PM_1_LABEL=MCUBOOT_PAD
PM_MCUBOOT_PRIMARY_OFFSET=0xc000
PM_MCUBOOT_PRIMARY_ADDRESS=0xc000
PM_MCUBOOT_PRIMARY_END_ADDRESS=0x84000
PM_MCUBOOT_PRIMARY_SIZE=0x78000
PM_MCUBOOT_PRIMARY_NAME=mcuboot_primary
PM_MCUBOOT_PRIMARY_ID=2
PM_mcuboot_primary_ID=PM_MCUBOOT_PRIMARY_ID
PM_mcuboot_primary_IS_ENABLED=1
PM_2_LABEL=MCUBOOT_PRIMARY
PM_MCUBOOT_PRIMARY_SPAN="app mcuboot_pad"
PM_APP_OFFSET=0xc200
PM_APP_ADDRESS=0xc200
PM_APP_END_ADDRESS=0x84000
PM_APP_SIZE=0x77e00
PM_APP_NAME=app
PM_APP_ID=3
PM_app_ID=PM_APP_ID
PM_app_IS_ENABLED=1
PM_3_LABEL=APP
PM_MCUBOOT_PRIMARY_APP_OFFSET=0xc200
PM_MCUBOOT_PRIMARY_APP_ADDRESS=0xc200
PM_MCUBOOT_PRIMARY_APP_END_ADDRESS=0x84000
PM_MCUBOOT_PRIMARY_APP_SIZE=0x77e00
PM_MCUBOOT_PRIMARY_APP_NAME=mcuboot_primary_app
PM_MCUBOOT_PRIMARY_APP_ID=4
PM_mcuboot_primary_app_ID=PM_MCUBOOT_PRIMARY_APP_ID
PM_mcuboot_primary_app_IS_ENABLED=1
PM_4_LABEL=MCUBOOT_PRIMARY_APP
PM_MCUBOOT_PRIMARY_APP_SPAN="app"
PM_MCUBOOT_SECONDARY_OFFSET=0x84000
PM_MCUBOOT_SECONDARY_ADDRESS=0x84000
PM_MCUBOOT_SECONDARY_END_ADDRESS=0xfc000
PM_MCUBOOT_SECONDARY_SIZE=0x78000
PM_MCUBOOT_SECONDARY_NAME=mcuboot_secondary
PM_MCUBOOT_SECONDARY_ID=5
PM_mcuboot_secondary_ID=PM_MCUBOOT_SECONDARY_ID
PM_mcuboot_secondary_IS_ENABLED=1
PM_5_LABEL=MCUBOOT_SECONDARY
PM_EMPTY_0_OFFSET=0xfc000
PM_EMPTY_0_ADDRESS=0xfc000
PM_EMPTY_0_END_ADDRESS=0x100000
PM_EMPTY_0_SIZE=0x4000
PM_EMPTY_0_NAME=EMPTY_0
PM_EMPTY_0_ID=6
PM_empty_0_ID=PM_EMPTY_0_ID
PM_empty_0_IS_ENABLED=1
PM_6_LABEL=EMPTY_0
PM_OTP_OFFSET=0x0
PM_OTP_ADDRESS=0xff8100
PM_OTP_END_ADDRESS=0xff83fc
PM_OTP_SIZE=0x2fc
PM_OTP_NAME=otp
PM_SRAM_PRIMARY_OFFSET=0x0
PM_SRAM_PRIMARY_ADDRESS=0x20000000
PM_SRAM_PRIMARY_END_ADDRESS=0x20070000
PM_SRAM_PRIMARY_SIZE=0x70000
PM_SRAM_PRIMARY_NAME=sram_primary
PM_RPMSG_NRF53_SRAM_OFFSET=0x70000
PM_RPMSG_NRF53_SRAM_ADDRESS=0x20070000
PM_RPMSG_NRF53_SRAM_END_ADDRESS=0x20080000
PM_RPMSG_NRF53_SRAM_SIZE=0x10000
PM_RPMSG_NRF53_SRAM_NAME=rpmsg_nrf53_sram
PM_NUM=7
PM_ALL_BY_SIZE="mcuboot_pad otp EMPTY_0 mcuboot rpmsg_nrf53_sram sram_primary app mcuboot_primary_app mcuboot_secondary mcuboot_primary"