PM_APP_OFFSET=0x0
PM_APP_ADDRESS=0x1000000
PM_APP_END_ADDRESS=0x1040000
PM_APP_SIZE=0x40000
PM_APP_NAME=app
PM_APP_ID=0
PM_app_ID=PM_APP_ID
PM_app_IS_ENABLED=1
PM_0_LABEL=APP
PM_APP_SPAN="ipc_radio"
PM_IPC_RADIO_OFFSET=0x0
PM_IPC_RADIO_ADDRESS=0x1000000
PM_IPC_RADIO_END_ADDRESS=0x1040000
PM_IPC_RADIO_SIZE=0x40000
PM_IPC_RADIO_NAME=ipc_radio
PM_IPC_RADIO_ID=1
PM_ipc_radio_ID=PM_IPC_RADIO_ID
PM_ipc_radio_IS_ENABLED=1
PM_1_LABEL=IPC_RADIO
PM_SRAM_PRIMARY_OFFSET=0x0
PM_SRAM_PRIMARY_ADDRESS=0x21000000
PM_SRAM_PRIMARY_END_ADDRESS=0x21010000
PM_SRAM_PRIMARY_SIZE=0x10000
PM_SRAM_PRIMARY_NAME=sram_primary
PM_NUM=2
PM_ALL_BY_SIZE="sram_primary ipc_radio app"