source "Kconfig.zephyr"

menu "Omi Features Configuration"

config OMI_CODEC_OPUS
    bool "Opus Audio Codec"
    help
        "Enable the Opus audio codec support."
    default n

config OMI_ENABLE_OFFLINE_STORAGE
	bool "Offline SD Card Storage"
    select DISK_ACCESS
    select FILE_SYSTEM
    select FAT_FILESYSTEM_ELM
    select FS_FATFS_MOUNT_MKFS
    select FS_FATFS_EXFAT
    help
        "Enable the offline storage support. Requires a SD Card."
	default n

config OMI_ENABLE_ACCELEROMETER
    bool "Accelerometer Support"
    help
        "Enable the accelerometer support."
    default n

config OMI_ENABLE_BUTTON
    bool "Button support"
    help
        "Enable the software button support."
    default n

config OMI_ENABLE_SPEAKER
    bool "Enable the speaker"
    help
        "Enable the speaker support."
    default n

config OMI_ENABLE_BATTERY
    bool "Enable the battery"
    help
        "Enable the battery support."
    default n

config OMI_ENABLE_USB
    bool "Enable the usb"
    help
        "Enable the USB power check support."
    default n

config OMI_ENABLE_HAPTIC
    bool "Enable the haptic"
    help
        "Enable the haptic support."
    default n

config OMI_ENABLE_IMU
    bool "Enable the IMU"
    help
        "Enable the IMU support."
    default n

config APP_LED_PIN
    int "LED pin number"
    default 13 # Default to LED1 on nRF5340 DK

# Microphone Configuration Symbols
config MIC_SAMPLE_RATE
	int "Microphone Sample Rate (Hz)"
	default 16000
	help
		Sample rate for the digital microphone.

config MIC_THREAD_STACK_SIZE
	int "Microphone Thread Stack Size"
	default 1024
	help
		Stack size allocated for the microphone reading thread.

config MIC_THREAD_PRIORITY
	int "Microphone Thread Priority"
	default 5
	help
		Priority for the microphone reading thread.

endmenu