<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC1tFr5jNUF636wtpRqZ15Pm4-Q1F55kuY</string>
	<key>GCM_SENDER_ID</key>
	<string>909648207363</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.hiringfriends</string>
	<key>PROJECT_ID</key>
	<string>voice-76xd7x</string>
	<key>STORAGE_BUCKET</key>
	<string>voice-76xd7x.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:909648207363:ios:49a2af7ba4102bda447836</string>
</dict>
</plist>