.git
node_modules
**/node_modules
.env
.env.*
**/.env
**/.env.*
data
.local
*.sqlite*
**/*.sqlite*
**/.terraform
**/*.tfstate
**/*.tfstate.*
**/*.tfplan
**/secrets
**/.secrets
**/*.secret
**/*credential*.json
**/*.pem
**/*.key
**/*.env
**/terraform.tfvars
**/*.auto.tfvars
**/*.tfvars.json
**/*.tfplan.*
