<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd"><plist version="1.0"><dict><key>application-identifier</key><string>GRSWQKJR57.dev.moni11811.omi.widget</string><key>com.apple.developer.team-identifier</key><string>GRSWQKJR57</string><key>com.apple.security.application-groups</key><array><string>group.dev.moni11811.omi</string></array><key>get-task-allow</key><true/></dict></plist>
