# Load Zephyr Arch Kconfig descriptions.
osource "/opt/nordic/ncs/v2.9.0/zephyr/arch/x86/Kconfig"
osource "/opt/nordic/ncs/v2.9.0/zephyr/arch/xtensa/Kconfig"
osource "/opt/nordic/ncs/v2.9.0/zephyr/arch/sparc/Kconfig"
osource "/opt/nordic/ncs/v2.9.0/zephyr/arch/riscv/Kconfig"
osource "/opt/nordic/ncs/v2.9.0/zephyr/arch/posix/Kconfig"
osource "/opt/nordic/ncs/v2.9.0/zephyr/arch/nios2/Kconfig"
osource "/opt/nordic/ncs/v2.9.0/zephyr/arch/mips/Kconfig"
osource "/opt/nordic/ncs/v2.9.0/zephyr/arch/arm64/Kconfig"
osource "/opt/nordic/ncs/v2.9.0/zephyr/arch/arm/Kconfig"
osource "/opt/nordic/ncs/v2.9.0/zephyr/arch/arc/Kconfig"
