OPENAI_API_KEY=
REDIS_DB_HOST=
REDIS_DB_PORT=
REDIS_DB_PASSWORD=
ASKNEWS_CLIENT_ID=
ASKNEWS_CLIENT_SECRET=
GROQ_API_KEY=
MULTION_API_KEY=
MULTION_ORG_ID=
MEM0_API_KEY=
NOTION_OAUTH_CLIENT_ID=
NOTION_OAUTH_CLIENT_SECRET=
NOTION_OAUTH_REDIRECT_URI=
NOTION_AUTH_URL=
FRIEND_API_URL=
WORKFLOW_API_KEY=
