PUBLIC_API_BASE_URL=https://api.omiapi.com/
PUBLIC_STAGING_API_URL=
PUBLIC_USE_WEB_AUTH=false
PUBLIC_USE_AUTH_CUSTOM_TOKEN=false
PUBLIC_GOOGLE_MAPS_API_KEY=public-google-maps-key
PUBLIC_GOOGLE_CLIENT_ID=public-google-oauth-client-id.apps.googleusercontent.com
PUBLIC_POSTHOG_API_KEY=public-posthog-ingestion-key
PUBLIC_INTERCOM_APP_ID=public-intercom-app-id
PUBLIC_INTERCOM_IOS_API_KEY=public-intercom-ios-key
PUBLIC_INTERCOM_ANDROID_API_KEY=public-intercom-android-key
