.DS_Store

models/
rnnoise_data-*.tar.gz
src/rnnoise_data*.c
src/rnnoise_data*.h
src/rnnoise_data_little*.c
src/rnnoise_data_little*.h

doc/
examples/
m4/
training/
Makefile.am
TRAINING-README
autogen.sh
configure.ac
rnnoise-uninstalled.pc.in
rnnoise.pc.in
update_version
src/compile.sh
src/rnn_reader.c
src/rnn_train.py
