PORT=
BASE_URL=

#Open AI
OPENAI_API_KEY=

NODE_ENV=

#Redis
UPSTASH_REDIS_HOST=
UPSTASH_REDIS_PASSWORD=
UPSTASH_REDIS_PORT=

# JWT
JWT_SECRET=

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=
GOOGLE_CALLBACK_URL=

SUPABASE_URL= 
SUPABASE_KEY=

#Email App
OMI_APP_ID=
OMI_APP_SECRET=

#Deck App
DECK_APP_ID=
DECK_APP_SECRET=
SLIDESGPT_API_KEY=