html,
body,
#app {
  height: 100%;
  margin: 0;
}

body {
  background: #141414;
  color-scheme: dark;
  overflow: hidden;
}

#app {
  min-height: 100dvh;
}

#app > div {
  height: 100%;
  min-height: 100dvh;
}
