aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
attrs==25.3.0
audioop-lts==0.2.2
discord-py==2.6.3
frozenlist==1.7.0
idna==3.10
joblib==1.5.2
markdown-it-py==4.0.0
mdurl==0.1.2
multidict==6.6.4
numpy==2.3.3
propcache==0.3.2
pygments==2.19.2
python-dotenv==1.1.1
rank-bm25==0.2.2
rich==14.1.0
yarl==1.20.1
