<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>890819045836-08qu92kktt9jhp2ttn06h72um9p31p0v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.890819045836-08qu92kktt9jhp2ttn06h72um9p31p0v</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>890819045836-dpsnuh0t6d3uad4ca8jr8ul701clkv1b.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDZFy4GWgaKlQHVu05j6UX1nC8kWpyAKzM</string>
	<key>GCM_SENDER_ID</key>
	<string>890819045836</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.friend.ios</string>
	<key>PROJECT_ID</key>
	<string>deeper-test-1c6d6</string>
	<key>STORAGE_BUCKET</key>
	<string>deeper-test-1c6d6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:890819045836:ios:ad9a5c6ca512edefb11569</string>
</dict>
</plist>