<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>303356274822-fqhno102cg9r8qborctrc5j6njqmgl1i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.303356274822-fqhno102cg9r8qborctrc5j6njqmgl1i</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>303356274822-60p0reb7nenpcittprr2mn0v09j3j9a3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD7ds-5mMYyl7rt0tAnUHlniqPMWuM2s6Y</string>
	<key>GCM_SENDER_ID</key>
	<string>303356274822</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.friend.ios</string>
	<key>PROJECT_ID</key>
	<string>friend-af44a</string>
	<key>STORAGE_BUCKET</key>
	<string>friend-af44a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:303356274822:ios:9303eae61b97cc69f0c907</string>
</dict>
</plist>