<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1031333818730-a81299nnu9r6bn2hdu6hnh9l71k20n6m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1031333818730-a81299nnu9r6bn2hdu6hnh9l71k20n6m</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1031333818730-cbduoo2lqhk7ufs8m39h32p1rv9db9o6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBK-G7KmEoC72mR10gmQyb2NFBbZyDvcqM</string>
	<key>GCM_SENDER_ID</key>
	<string>1031333818730</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.friend.ios</string>
	<key>PROJECT_ID</key>
	<string>based-hardware-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>based-hardware-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1031333818730:ios:7475273b3f7ee0fdafb513</string>
</dict>
</plist>