/ {
    aliases {
        led0 = &led0;
        led1 = &led1;
        led2 = &led1; // Fake led2
        pwm-led0 = &pwm_led0;
        sw0 = &button0;
        sw1 = &button1;
        bootloader-led0 = &led0;
        mcuboot-button0 = &button0;
        mcuboot-led0 = &led0;
        watchdog0 = &wdt0;
    };
};

// / {
//     aliases {
//         led0 = &led0;
//         led1 = &led1;
//         led2 = &led1; // Fake led2
//         pwm-led0 = &pwm_led0;
//         sw0 = &button0;
//         sw1 = &button1;
//         bootloader-led0 = &led0;
//         mcuboot-button0 = &button0;
//         mcuboot-led0 = &led0;
//         watchdog0 = &wdt0;
//     };

//     chosen {
//         zephyr,console = &uart0;
//     };
// };

&i2c1 {
//     status = "okay";
//     compatible = "nordic,nrf-twim";
//     /delete-property/ secure-status;

    lsm6dsl: lsm6dsl@6b {
        compatible = "st,lsm6dsl";
        reg = <0x6b>;
        label = "LSM6DSL";
    };
};

// &uart0 {
//     status = "okay";
//     current-speed = <115200>;
//     /delete-property/ secure-status;
// };

// &gpio0 {
//     status = "okay";
//     /delete-property/ secure-status;
// };

// &gpio1 {
//     status = "okay";
//     /delete-property/ secure-status;
// };