name: friend_private
description: A new Flutter project.

# The following line prevents the package from being accidentally published to
# pub.dev using `pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 1.0.12+35

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  flutter_localizations:
    sdk: flutter
  auto_size_text: 3.0.0
  collection: 1.18.0
  equatable: 2.0.5
  flutter_blue_plus: ^1.32.7
  font_awesome_flutter: 10.6.0
  from_css_color: 2.0.0
  http: ^1.2.1
  intl: ^0.19.0
  mime_type: 1.0.0
  page_transition: 2.1.0
  permission_handler: ^11.3.1
  share_plus: ^9.0.0
  shared_preferences: ^2.2.3
  smooth_page_indicator: 1.1.0
  url_launcher: ^6.3.0
  url_launcher_platform_interface: 2.3.2
  wav: ^1.3.0
  lottie: ^3.1.2
  flutter_tilt: any
  path: ^1.9.0
  uuid: ^4.4.0
  tuple: ^2.0.2
  googleapis_auth: ^1.6.0
  envied: ^0.5.4+1
  awesome_notifications_core: ^0.9.3
  awesome_notifications: any
  mime: ^1.0.5
  instabug_flutter: ^13.0.0
  instabug_http_client: ^2.4.0
  #  flutter_foreground_task: ^6.2.0
  mixpanel_flutter: ^2.2.0
  #  flutter_silero_vad:
  #    git:
  #      url: https://github.com/char5742/flutter_silero_vad.git\
  fonnx:
    git:
      url: https://github.com/Telosnex/fonnx.git
      ref: main
  expandable_text: ^2.3.0
  flutter_native_splash: ^2.4.0
  flutter_svg: ^2.0.10+1
  gradient_borders: ^1.0.1
  package_info_plus: ^8.0.0

  path_provider: any
  ml_linalg: any
  objectbox: ^4.0.1
  objectbox_flutter_libs: any
  flutter_foreground_task: ^6.5.0
  deepgram_speech_to_text: ^2.1.1
  upgrader: ^10.3.0
  workmanager:
    git:
      url: https://github.com/fluttercommunity/flutter_workmanager.git
      ref: b783000
  crypto: ^3.0.3
  encrypt: ^5.0.3
  flutter_markdown: ^0.7.2+1
  file_picker: ^8.0.5
  record: ^5.1.1
  record_android: ^1.2.2
  record_platform_interface: ^1.1.0
  record_darwin: ^1.1.0
  flutter_sound: ^9.6.0
  audio_session: ^0.1.19
  onesignal_flutter: ^5.1.2
  opus_flutter: ^3.0.2
  opus_dart: ^3.0.1

dependency_overrides:
  http: ^1.2.1
  uuid: ^4.4.0

dev_dependencies:
  flutter_launcher_icons: 0.13.1
  flutter_lints: ^4.0.0
  image: ^4.2.0
  integration_test:
    sdk: flutter
  lints: ^4.0.0
  flutter_test:
    sdk: flutter
  envied_generator: ^0.5.4+1
  build_runner: ^2.4.11
  objectbox_generator: any
  flutter_flavorizr: ^2.2.3

flutter_launcher_icons:
  android: true
  ios: true
  remove_alpha_ios: true
  web:
    generate: true
  image_path: 'assets/images/app_launcher_icon.png'


# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/images/blob.png
    - assets/images/stars.png
    - assets/images/herologo.png
    - assets/images/backbutton.svg
    - assets/fonts/
    - assets/images/
    - assets/videos/
    - assets/audios/
    - assets/lottie_animations/
    - assets/rive_animations/
    - assets/pdfs/
    - assets/silero_vad.onnx
  fonts:
    - family: 'SF Pro Display'
      fonts:
        - asset: assets/fonts/SFPRODISPLAYTHINITALIC.OTF
          weight: 100
          style: italic
        - asset: assets/fonts/SFPRODISPLAYLIGHTITALIC.OTF
          weight: 300
          style: italic
        - asset: assets/fonts/SFPRODISPLAYREGULAR.OTF
        - asset: assets/fonts/SFPRODISPLAYHEAVYITALIC.OTF
          style: italic
        - asset: assets/fonts/SFPRODISPLAYMEDIUM.OTF
          weight: 500
        - asset: assets/fonts/SFPRODISPLAYSEMIBOLDITALIC.OTF
          weight: 600
          style: italic
        - asset: assets/fonts/SFPRODISPLAYBOLD.OTF
          weight: 700
        - asset: assets/fonts/SFPRODISPLAYBLACKITALIC.OTF
          weight: 900
          style: italic

  
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages

